{% extends "base.html" %}

{% block headerextras %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>GPS NOTAM MAP</h1>
    <p class="lead">Visualize the area of impact for GPS NOTAMS.</p>

        <form class="needs-validation" method="post">
        <div class="row align-items-center">
            <div class="col-12 col-sm-3"><b>DISPLAYING NOTAMS FOR</b></div>
            <div class="col-12 col-sm-3">
                <input type="text" name="day" class="form control" value="{{day}}" placeholder="YYYY-MM-DD"></input>
            </div>
            <div class="col-12 col-sm-3">
            <button name="btn" type="sumbit" class="btn btn-sm btn-primary" value="date">UPD</button>
            <button name="btn" type="sumbit" class="btn btn-sm btn-outline-secondary" value="today">TODAY</button>
            </div>
            <div class="col-12 col-sm-2 offset-sm-1">
            <button name="btn" type="sumbit" class="btn btn-sm btn-outline-secondary" value="plot">PLOT</button>
            </div>
        </form>
        </div>

        <div class="row align-items-center">
            <div class="col-12 col-sm-2"><b>IDENT</b></div>
            <div class="col-12 col-sm-2"><b>LAT</b></div>
            <div class="col-12 col-sm-2"><b>LON</b></div>
            <div class="col-12 col-sm-2"><b>RAD</b></div>
        </div>

        {% if notam_list %}
            {% for notam in notam_list %}
                {% include 'notam.html' %}
            {% endfor %}
        {% else %}
            <div class="row">
                <div class=col-12>
                    &lsaquo; No NOTAMS found &rsaquo;
                </div>
            </div>
        {% endif %}

        <p></p>
        Add NOTAM
        <form class="needs-validation" method="post" novalidate>
        <input name="day" value="{{day}}" hidden></input>
        <div class="row align-items-center">
            <div class="col-12 col-sm-2">
                <input name="ident" class="form-control" placeholder="ident" required>
                <div class="invalid-feedback">
                  Identity is required.
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <input name="lat" class="form-control" placeholder="lat" pattern="[0-9]{6}[NS]" oninput="check_lat(this)" required>
                <div class="invalid-feedback">
                  Valid Latitude matching [0-9]{6}[NS] is required.
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <input name="lon" class="form-control" placeholder="lon" pattern="[0-9]{6,7}[EW]" oninput="check_lon(this)" required>
                <div class="invalid-feedback">
                  Valid longitude matching [0-9]{6,7}[EW] is required.
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <input name="rad" class="form-control" placeholder="rad" pattern="[0-9]{1,5}(NM)*" oninput="check_rad(this)" required>
                <div class="invalid-feedback">
                  Valid radius matching [0-9]{1,5}(NM)* is required.
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <button name="btn" type="submit" class="btn btn-sm btn-outline-secondary" value="add">ADD</button>
            </div>
        </div>
        </form>

    </div>

    <p></p>
    <div class="container-fluid">
        <!-- append a new number to the query string at the end of the image file so that browsers don't cache the image -->
        <!-- load the blank map if a plot has not yet been generated for this day -->
        <!-- expand image to the width of this container -->
        <img src="/static/images/{{day}}_notams.png?{{utc_timestamp}}" onerror="if (this.src != '/static/images/map.png') this.src = 'static/images/map.png';" width="100%" height="auto" alt="">
    </div>

{% endblock %}



{% block footer %}
<div class="container">
    Page generated {{utc_timestamp}}.<br>
    <a href="https://www.fcc.gov/media/radio/dms-decimal">Tool to Convert Degrees/Minutes/Seconds to|from Decimal Degrees</a>
</div>
{% endblock %}
