{% extends "base.html" %}

{% block headerextras %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>GPS NOTAM MAP</h1>
    <p class="lead">Visualize the area of impact for GPS NOTAMS.</p>
        <form class="form-group needs-validation" method="post">
        <div class="row align-items-center">
            <div class="col-12 col-sm-3 col-md-3"><h4>SELECTED DAY</h4></div>
            <div class="col-8 offset-4 offset-sm-0 col-sm-4 col-md-3">
                <input type="text" name="day" class="form-control" value="{{day}}" placeholder="YYYY-MM-DD"></input>
            </div>
            <div class="col-4 offset-4 offset-sm-0 col-sm-3 col-md-3">
            <button name="btn" type="sumbit" class="btn btn-sm btn-primary" value="date">UPD</button>
            <button name="btn" type="sumbit" class="btn btn-sm btn-outline-secondary" value="today">TODAY</button>
            </div>
            <div class="col-4 col-sm-2 col-md-2 offset-md-1">
            <button name="btn" type="sumbit" class="btn btn-sm btn-outline-secondary" value="plot" id="plot">PLOT</button>
            </div>
        </form>
        </div>
        <div class="col-12"><h4>NOTAMs</h4></div>
        <div class="form-group">
            {% if notam_list %}
                <!-- Header row for medium and larger screens -->
                <div class="form-group">
                    <div class="form-row align-items-center">
                        <div class="d-none d-sm-block col-sm-3 col-md-2"><b>IDENT</b></div>
                        <div class="d-none d-sm-block col-sm-3 col-md-2"><b>LAT</b></div>
                        <div class="d-none d-sm-block col-sm-3 col-md-2"><b>LON</b></div>
                        <div class="d-none d-sm-block col-sm-2"><b>RAD</b></div>
                    </div>
                    <div class="col-12 d-block d-sm-none"><br></div>
                    {% for notam in notam_list %}
                        {% include 'notam.html' %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-row">
                    <div class=col-12>
                        &lsaquo; No NOTAMS found &rsaquo;
                    </div>
                </div>
            {% endif %}
        </div>

        <p></p>
        <div class="col-12"><h4>Add NOTAM</h4></div>
        <form class="needs-validation" method="post" novalidate>
            <!-- Header row for medium and larger screens -->
            <div class="form-group">
                <div class="form-row align-items-center">
                    <div class="d-none d-sm-block col-sm-3 col-md-2"><b>IDENT</b></div>
                    <div class="d-none d-sm-block col-sm-3 col-md-2"><b>LAT</b></div>
                    <div class="d-none d-sm-block col-sm-3 col-md-2"><b>LON</b></div>
                    <div class="d-none d-sm-block col-sm-2"><b>RAD</b></div>
                </div>
                <div class="col-12 d-block d-sm-none"><br></div>

                <input name="day" value="{{day}}" hidden></input>
                <div class="form-row align-items-center">
                    <label for="ident" class="col-4 d-block d-sm-none">ident</label>
                    <div class="col-8 col-sm-3 col-md-2">
                        <input name="ident" class="form-control" placeholder="ident" required>
                        <div class="invalid-feedback">
                          Identity is required.
                        </div>
                    </div>
                    <label for="lat" class="col-4 d-block d-sm-none">lat</label>
                    <div class="col-8 col-sm-3 col-md-2">
                        <input name="lat" class="form-control" placeholder="lat" pattern="[0-9]{6}[NS]" required>
                        <div class="invalid-feedback">
                          Valid Latitude matching [0-9]{6}[NS] is required.
                        </div>
                    </div>
                    <label for="lon" class="col-4 d-block d-sm-none">lon</label>
                    <div class="col-8 col-sm-3 col-md-2">
                        <input name="lon" class="form-control" placeholder="lon" pattern="[0-9]{6,7}[EW]" required>
                        <div class="invalid-feedback">
                          Valid longitude matching [0-9]{6,7}[EW] is required.
                        </div>
                    </div>
                    <label for="rad" class="col-4 d-block d-sm-none">rad</label>
                    <div class="col-8 col-sm-2">
                        <input name="rad" class="form-control" placeholder="rad" pattern="[0-9]{1,5}(NM)*" required>
                        <div class="invalid-feedback">
                          Valid radius matching [0-9]{1,5}(NM)* is required.
                        </div>
                    </div>
                    <div class="col-12 col-sm-1 col-md-2">
                        <button name="btn" type="submit" class="btn btn-sm btn-outline-secondary" value="add">ADD</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <p></p>
    <div class="container-fluid">
        <!-- append a new number to the query string at the end of the image file so that browsers don't cache the image -->
        <!-- load the blank map if a plot has not yet been generated for this day -->
        <!-- expand image to the width of this container -->
        <img src="/static/images/{{day}}_notams.png?{{utc_timestamp}}" onerror="if (this.src != '/static/images/map.png') this.src = 'static/images/map.png';" width="100%" height="auto" alt="">
    </div>
{% endblock %}


{% block footer %}
    <div class="container">
        Page generated {{utc_timestamp}}.<br>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Instructions</a>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">This tool does not automatically download notams for you. Select a day and click 'upd', then enter a GPS NOTAM maually and click 'add', then click 'plot' to see NOTAMs on the map.</div>
                </div>
            </div>
        </div>
        <a href="https://www.fcc.gov/media/radio/dms-decimal">Tool to Convert Degrees/Minutes/Seconds to|from Decimal Degrees</a>
    </div>

    <!-- transform plot button text while plotting -->
    <script>
    $(document).ready(function(){
        $('#plot').click(function() {
            $(this).text('PLOTTING...');
        })
    });
    </script>
{% endblock %}
